.profile__wrapper-avatar{
    position: relative;
}

.profile__wrapper-avatar:after {
    content: ''; 
    position: absolute; 
    transform: translate(-50%,-50%);
    top: 60px; left: 60px; 
    right: 0; bottom: 0; 
    background-image: url(../../../images/elements/pensel.svg);
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0;
 }
   
.profile__wrapper-avatar:hover:before {
      opacity: 1;
      cursor: pointer;
}
   

.profile__wrapper-avatar:before {
 content: ''; 
 position: absolute; 
 top: 0; left: 0; 
 right: 0; bottom: 0; 
 background: rgba(0,0,0,.8);  
 opacity: 0;
}
.profile__wrapper-avatar:hover:after{
 opacity: 1;
 cursor: pointer;
}