.page__header {
  border-bottom: 1px solid rgba(84,84,84,.7);
}

@media screen and (max-width:480px){
  .page__header {
      position: relative;
      left: -19px;
      width: calc(100% + 38px);
      box-sizing: border-box;
      padding-bottom: 28px;
      }
}
