@import url(./__avatar/profile__avatar.css);
@import url(./__title/profile__title.css);
@import url(./__subtitle/profile__subtitle.css);
@import url(./__add/profile__add.css);
@import url(./__intro/profile__intro.css);
@import url(./__edit/profile__edit.css);


.profile {
    display: grid;
    grid-template-columns: 150px 336px 1fr;
    
}

@media screen and (max-width: 900px){
  .profile {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  }
}

