
.profile__edit {
  background-image: url("../../../images/elements/edButton.svg");
  border: 1px solid white;
  width: 24px;
  height: 24px;
  align-self: center;
  padding:0;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;


}


.profile__edit:hover {
  cursor: pointer;
  opacity: .6;
}


@media screen and (max-width: 480px){
.profile__edit {
  margin-left: 5px;
  width: 15px;
  height: 15px;
  align-self: center;
}
}
