.profile__title {
    font-family: Inter, Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 133%;
    margin: 0;
    max-width: 295px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

}

@media screen and (max-width: 600px){
  .profile__title{
    font-size: 27px;
    line-height: 207%;
    }
}


@media screen and (max-width: 480px){
  .profile__title{
    text-align: center;
    min-width: 201px;
  }
}
