
.elements__heart {
    align-self: center;
    background-image: url("../../../images/elements/heart.svg");
    border: none;
    outline: none;
    padding: 0;
    width: 20px;
    height: 18px;
    background-size: cover;
    background-color: transparent;
   }

   .elements__heart:hover {
     opacity: .6;
     cursor: pointer;
   }

