.page__footer {
    display: inline-block;
    font-family: Inter,Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 122%;
    color: #545454;
}
