.page__container {
  max-width: 1280px;
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
  display:flex;
  flex-direction: column;
  padding: 45px 199px 60px;
  box-sizing: border-box;

}

@media screen and (max-width:1280px){
  .page__container {
    padding: 28px calc((100% - 882px)/2) 36px;
  }
}

@media screen and (max-width:900px){
  .page__container {
    padding: 28px calc((100% - 582px)/2) 36px;
  }
}

@media screen and (max-width:600px){
  .page__container {
    padding: 28px 19px 36px;
  }
}
